@font-face {
		font-family: "PTSansRegular";
		src: url("fonts/PTSansRegular/PTSansRegular.eot");
		src: url("fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
		url("fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
		url("fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
@font-face {
		font-family: "PTSansBold";
		src: url("fonts/PTSansBold/PTSansBold.eot");
		src: url("fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
		url("fonts/PTSansBold/PTSansBold.woff") format("woff"),
		url("fonts/PTSansBold/PTSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
@font-face {
		font-family: "PTSerifRegular";
		src: url("fonts/PTSerifRegular/PTSerifRegular.eot");
		src: url("fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
		url("fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
		url("fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
@font-face {
		font-family: "PTSerifBold";
		src: url("fonts/PTSerifBold/PTSerifBold.eot");
		src: url("fonts/PTSerifBold/PTSerifBold.eot?#iefix")format("embedded-opentype"),
		url("fonts/PTSerifBold/PTSerifBold.woff") format("woff"),
		url("fonts/PTSerifBold/PTSerifBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
@font-face {
		font-family: "NotoSansRegular";
		src: url("fonts/NotoSansRegular/NotoSansRegular.eot");
		src: url("fonts/NotoSansRegular/NotoSansRegular.eot?#iefix")format("embedded-opentype"),
		url("fonts/NotoSansRegular/NotoSansRegular.woff") format("woff"),
		url("fonts/NotoSansRegular/NotoSansRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
@font-face {
		font-family: "NotoSansBold";
		src: url("fonts/NotoSansBold/NotoSansBold.eot");
		src: url("fonts/NotoSansBold/NotoSansBold.eot?#iefix")format("embedded-opentype"),
		url("fonts/NotoSansBold/NotoSansBold.woff") format("woff"),
		url("fonts/NotoSansBold/NotoSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	background-color: #FFFFFF;
}

.button {
	background: none;
	border: none;
}

.button:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.header {
	width: 1146px;
	height: 86px;
	margin: 14px auto 33px;
	padding-left: 147px;
	padding-right: 147px;
}

.address {
	float: left;
	width: 401px;
	height: 10px;
	margin-top: -1px;
	font-size: 0px;
}

.address__text {
	display: inline-block;
	width: 207px;
	margin-right: 48px;
	font-family: "PTSansRegular";
	font-size: 14px;
	line-height: 14px;
}

.address__link {
	display: inline-block;
	width: 146px;
	font-family: "PTSansRegular";
	font-size: 14px;
	line-height: 14px;
	color: #174F9A;
	text-decoration: none;
}

.phone {
	height: 16px;
	font-size: 0px;
}

.header__phone {
	position: relative;
	float: right;
	margin-right: 115px;
	margin-top: 3px;
}

.phone__icon {
	position: absolute;
	width: 16px;
	height: 16px;
	margin-right: 12px;
	background-image: url("image/phone.png");
}

.phone__number {
	display: inline-block;
	width: 120px;
	height: 10px;
	padding-left: 28px;
	font-family: "PTSansRegular";
	font-size: 14px;
	margin-right: 17px;
}

.phone__link {
	display: inline-block;
	height: 10px;
	font-family: "PTSansRegular";
	font-size: 14px;
	color: #174F9A;
	text-decoration: none;
}

.search {
	width: 16px;
	height: 16px;
	background-image: url("image/icon_search.png");
}

.header__search {
	float: right;
}

.header__line {
	position: absolute;
	width: 1440px;
	height: 1px;
	top: 45px;
	left: 0px;
	margin: 0px;
	border: none;
	font-weight: bold;
	color: #F7F7F7;
	background-color: #F7F7F7;
}

.header__logo {
	clear: both;
	float: left;
	margin-top: 46px;
	margin-right: 219px;
	font-family: "PTSerifBold";
	line-height: 20px;
	font-size: 30px;
	text-transform: uppercase;
}

.menu {
	font-size: 0px;
}

.header__menu {
	float: left;
	margin-top: 50px;
	margin-right: 218px;
}

.menu__list {
	padding: 0px;
}

.menu__item {
	display: inline-block;
	height: 10px;
	margin-right: 45px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__link {
	font-family: "PTSansRegular";
	line-height: 10px;
	font-size: 16px;
	color: #343434;
	text-decoration: none;
}

.user {
	position: relative;
	float: left;
	width: 69px;
	height: 17px;
	margin-top: 45px;
	margin-right: 29px;
}

.user__icon {
	position: absolute;
	width: 14px;
	height: 17px;
	top: 1px;
	background-image: url("image/icon_user.png");
}

.user__login {
	padding-left: 23px;
	font-family: "PTSansRegular";	
	font-size: 16px;
	color: #3B3B3B;
	text-decoration: none;
}

.cart {
	position: relative;
	float: right;
	width: 77px;
	height: 29px;
	margin-top: 36px;
}

.shopping-cart {
	position: absolute;
	width: 26px;
	height: 29px;
	top: 9px;
	left: 0px;
}

.shopping-cart__icon {
	position: absolute;
	width: 17px;
	height: 20px;
	background-image: url("image/icon_cart.png");
}

.shopping-cart__ellipse {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 6px;
	top: -9px;
	background-color: #F5F1E9;
	border-radius: 10px;
}

.shopping-cart__num {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;
	font-family: "PTSansRegular";
	font-size: 11px;
	text-align: center;
	color: #292929;
}

.cart__amount {
	display: block;
	width: 50px;
	height: 10px;
	margin-left: 27px;
	padding-top: 9px;
	font-family: "PTSansRegular";
	font-size: 16px;
	color: #3B3B3B;
	text-decoration: none;
}

.container {
	clear: both;
	width: 1440px;
	margin: 33px auto 0px;
}

/* Главный экран */

.main-screen {
	position: relative;
	height: 676px;
	background-color: #F5F1E9;
	overflow: hidden;
}

.main-screen__head {
	width: 600px;
	height: 102px;
	margin: 178px auto 0px;
	font-family: "PTSerifBold";
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
}

.main-screen__text {
	width: 300px;
	height: 41px;
	margin: 50px auto 0px;
	font-family: "PTSansRegular";
	line-height: 23px;
	font-size: 18px;
	text-align: center;
}

.main-screen__image1 {
	position: absolute;
	width: 333.08px;
	height: 378.72px;
	top: 0px;
	background: url(image/jacket.png) no-repeat;
}

.main-screen__image2 {
	position: absolute;
	width: 311px;
	height: 213.03px;
	top: 0px;
	right: 74.38px;
	background: url(image/bag.png) no-repeat;
}

.main-screen__image3 {
	position: absolute;
	width: 384px;
	height: 243.35px;
	left: 55px;
	top: 431.98px;
	background: url(image/hat.png) no-repeat;
}

.main-screen__image4 {
	position: absolute;
	width: 449px;
	height: 665px;
	right: 0;
	top: 205px;
	background: url(image/jacket2.png) no-repeat;
}

.button_black {
	display: block;
	width: 226px;
	height: 46px;
	background: #343434;
	border-radius: 400px;
	text-align: center;
}

.main-screen__button {
	margin: 80px auto 0px;
}

.button__text {
	font-family: "PTSansRegular";
	line-height: 46px;
	font-size: 16px;
	color: #FFFFFF;
}

/* Преимущества */

.features {
	width: 1440px;
	height: 160px;
	padding: 41px 147px 40px 147px;
	background: #F7F7F7;
	box-sizing: border-box;
}

.features__block {
	float: left;
	width: 217px;
	height: 79px;
	margin-right: 75px;
	text-decoration: none;
}

.features__block:last-child {
	margin-right: 0px;
}

.features__image {
	float: left;
	width: 79px;
	height: 79px;
	margin-right: 15px;
}

.features__text {
	height: 36px;
	margin-top: 18px;
	font-family: "PTSansRegular";
	font-size: 16px;
	color: #585858;
}

/* Популярные категории */

.popular {
	width: 1146px;
	height: 1056px;
	margin: 140px 147px 0px 147px;
}

.popular__head {
	margin-bottom: 50px;
	font-family: "PTSerifBold";
	line-height: 31px;
	font-size: 40px;
	text-align: center;
}

.popular__block {
	position: relative;
	background: #C4C4C4;
}

.popular__block_bags {
	float: left;
	width: 558px;
	height: 472px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.popular__image{
	position: absolute;
	width: 100%;
	height: auto;
}

.popular__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F5F1E9;
	opacity: 0.5;
}

.popular__overlay:hover {
	opacity: 0;
}

.button_white {
	display: block;
	width: 226px;
	height: 62px;
	background: #FFFFFF;
	opacity: 0.8;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
	border-radius: 600px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.popular__button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;
}

.button__text_black {
	font-family: "PTSerifBold";
	font-size: 20px;
	line-height: 62px;
	color: #343434;
}

.popular__button:hover ~ .popular__overlay {
	opacity: 0;
}

.popular__block_dresses{
	float: right;
	width: 558px;
	height: 723px;
	margin-bottom: 30px;
}

.popular__block_outewear {
	float: left;
	width: 264px;
	height: 472px;
	margin-right: 30px;
}

.popular__block_trousers {
	float: left;
	width: 264px;
	height: 473px;
	margin-right: 30px;
}

.popular__block_footwear {
	float: left;
	width: 558px;
	height: 222px;
}

.popular__image_footwear{
	position: absolute;
	width: 558px;
	height: 222px;
}

/* Бренд */

.brand {
	width: 1296px;
	height: 80px;
	margin: 141px 72px 0px 72px;
}

.carousel__button_left {
	float: left;
	width: 40px;
	height: 40px;
	margin: 20px 0;
}

.button__ellipse {
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.button__arrow_left {
	width: 10px;
	height: 16px;
	margin: 12px 16px 12px 14px;
	background: url("image/arrow.png");
}

.carousel__button_right {
	float: right;
	width: 40px;
	height: 40px;
	margin: 20px 0;
}

.button__arrow_right {
	width: 10px;
	height: 16px;
	margin: 12px 14px 12px 16px;
	background: url("image/arrow.png");
	transform: rotate(180deg);
}

.carousel__wrapper {
	width: 1148px;
	height: 80px;
	margin-left: 75px;
	overflow: hidden;
}

.carousel__items {
	margin-left: -14px;
	max-height: 80px;
	width: 10000px;
	font-size: 0px;
}

.carousel__block {
	display: inline-block;
	width: 196px;
	height: 80px;
	border-right: 1px solid #F4F4F4;
}

.brand__image {
	display: inline-block;
	width: 123px;
	height: 50px;
	margin-left: 37px;
	margin-top: 15px;
	opacity: 0.54;
}

/* Новинки */

.new-arrival {
	width: 1146px;
	margin: 140px auto 0px;
}

.new-arrival__head {
	font-family: "PTSerifBold";
	line-height: 27px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}

.product__items {
	margin: 0 14px;
	font-size: 0px;
}

.product__block {
	position: relative;
	display: inline-block;
	width: 237px;
	height: 450px;
	margin-right: 56px;
	margin-bottom: 80px;
	vertical-align: top;
}

.product__block:nth-child(4n) {
	margin-right: 0px;
}

.product__image-block {
	width: 236px;
	height: 354px;
	display: block;
}

.product__image {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

.product__name {
	float: left;
	width: 141px;
	margin: 18px 0 6px;
	box-sizing: content-box;
	font-family: "PTSansRegular";
	line-height: 21px;
	font-size: 16px;
	color: #1E1E1E;
}

.product__logo {
	float: right;
	width: 85px;
	height: 15px;
	margin-top: 20px;
}

.product__price-block {
	clear: both;
	width: 120px;
	height: 18px;
	font-size: 0px;
}

.product__price {
	display: inline-block;
	margin-right: 11px;
	font-family: "PTSansBold";
	font-size: 16px;
	color: #1E1E1E;
}

.product__old-price {
	display: inline-block;
	width: 51px;
	height: 18px;
	font-family: "PTSansRegular";
	font-size: 16px;
	color: #ABABAB;
}

.product__old-price_line-through {
	text-decoration: line-through;
}

.saving {
	width: 151px;
	height: 24px;
	margin-top: 10px;
	font-size: 0px;
}

.saving__text {
	display: inline-block;
	width: 61px;
	height: 15px;
	margin: 0;
	font-family: "PTSansRegular";
	line-height: 22px;
	font-size: 14px;
	color: #343434;
}

.saving__amount {
	display: inline-block;
	width: 80px;
	height: 24px;
	margin-left: 10px;
	background: #04BF00;
	border-radius: 600px;
	font-family: "PTSansRegular";
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

.product__label-sale {
	position: absolute;
	width: 72px;
	height: 28px;
	top: 20px;
	background: #DE1F0D;
	font-family: "NotoSansBold";
	line-height: 28px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

.new-arrival__button {
	margin: -30px auto 0px;
}

.preview {
	position: absolute;
	left: -15px;
	top: -15px;
	width: 237px;
	height: 673px;
	padding: 15px;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	z-index: 100;
	display: none;
}

.preview__block {
	width: 237px;
	height: 450px;
}

.product__image_preview {
	margin: 20px 24px 0;
}

.product__block:hover .preview {
	display: block;
}

.preview__button-like {
	position: absolute;
	width: 37px;
	height: 37px;
	left: 160px;
	top: 25px;
	background: url("image/like.png");
}

.preview__button-compare {
	position: absolute;
	width: 37px;
	height: 37px;
	left: 205px;
	top: 25px;
	background: url("image/compare.png");
}

.preview__button-quick-view {
	position: absolute;
	width: 169px;
	height: 41px;
	left: 49px;
	top: 157px;
	background: #FFFFFF;
	opacity: 0.85;
	border-radius: 600px;
	border: none;
	font-family: "PTSansRegular";
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #000000;
}

.preview__button-quick-view:hover {
	background: #FFFAFA;
}

.preview__size-block {
	width: 158px;
	height: 59px;
	margin-top: 25px;
}

.preview__text {
	width: 53px;
	height: 15px;
	font-family: "PTSansRegular";
	line-height: 14px;
	font-size: 14px;
	color: #343434;
}

.preview__size {
	width: 158px;
	height: 32px;
	font-size: 0px;
	margin-top: 10px;
}	

.preview__size-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background: #FFFFFF;
	border: 1px solid #888888;
	box-sizing: border-box;
	border-radius: 600px;
}

.preview__size-button:last-child {
	margin-right: 0px;
}

.preview__size-button:hover {
	background: #174F9A;
}

.preview__size-button_active {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background: #174F9A;
	border: 1px solid #888888;
	box-sizing: border-box;
	border-radius: 600px;
}

.preview__size-text {
	font-family: "PTSansRegular";
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #888888;
}

.preview__size-button:hover .preview__size-text,
.preview__size-button_active:hover .preview__size-text {
	color: #FFFFFF;
}

.preview__size-text_active {
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

.preview__color-block {
	width: 149px;
	height: 59px;
	margin-top: 15px;
}

.preview__color {
	width: 149px;
	height: 32px;
	margin-top: 10px;
	font-size: 0px;
}

.preview__color-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 400px;
	border: none;
	margin-right: 7px;
}

.preview__color-button:last-child {
	margin-right: 0px;
}

.quantity {
	width: 112px;
	height: 40px;
	border: 1px solid #F5F1E9;
	box-sizing: border-box;
	border-radius: 400px;
	text-align: center;
}

.preview__quantity {
	display: inline-block;
	margin: 25px 0px 15px;
}

.quantity__minus {
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 14px;
	margin-top: 14px;
	background: url("image/minus.png") 50% 50% no-repeat;
}

.quantity__value {
	width: 19px;
	height: 19px;
	margin-top: 9px;
	border: none;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	color: #000000;
}

.quantity__plus {
	width: 12px;
	height: 12px;
	float: right;
	margin-right: 14px;
	margin-top: 13px;
	background: url("image/plus.png");
}

.button_black_small {
	display: inline-block;
	width: 114px;
	height: 40px;
	margin-left: 11px;
	background: #343434;
	border-radius: 400px;
	border: none;
}

.button_black_small-text {
	font-family: "PTSansRegular";
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

/* Banner */

.banner {
	position: relative;
	width: 1146px;
	height: 354px;
	margin: 140px auto 0px;
}

.carousel_banner {
	position: absolute;
	width: 1146px;
	height: 354px;
	background: #C4C4C4;
}

.carousel__image_banner {
	position: absolute;
	width: 1146px;
	height: 354px;
}

.banner__head {
	position: absolute;
	width: 363px;
	height: 32px;
	left: 60px;
	top: 100px;
	font-family: "PTSerifBold";
	line-height: 49px;
	font-size: 40px;
	color: #FFFFFF;
}

.banner__text {
	position: absolute;
	width: 370px;
	height: 17px;
	font-family: "PTSansRegular";
	left: 62px;
	top: 152px;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
}

.banner__button {
	position: absolute;
	width: 200px;
	height: 46px;
	left: 62px;
	top: 209px;
	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
	border-radius: 600px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.banner__button-text {
	width: 74px;
	height: 16px;
	font-family: "PTSansRegular";
	font-size: 16px;
	line-height: 46px;
	letter-spacing: 0.03em;
	color: #1E1E1E;
}

/*Скидки*/

.discounts {
	width: 1146px;
	margin: 140px auto 0px;
}

.discounts__head {
	font-family: "PTSerifBold";
	line-height: 27px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}

.discounts__button {
	margin: -30px auto 0px;
}

/* Дзен */

.dzen {
	width: 914px;
	height: 398px;
	margin: 140px auto 0px;;
}

/* Отзывы */

.reviews {
	width: 1440px;
	height: 902px;
	margin: 140px auto 0px;
	background: #F5F1E9;
	overflow: hidden;
}

.reviews__head {
	margin: 140px 0px 50px;
	font-family: "PTSerifBold";
	line-height: 29px;
	font-size: 40px;
	text-align: center;
}

.reviews__button_left {
	margin: 175px 35px 0px 72px;
}

.reviews__button_right {
	margin: 175px 72px 0px 35px;
}

.carousel__wrapper_reviews {
	width: 1146px;
	height: 385px;
	margin: 0px auto;
	overflow: hidden;
}

.carousel__items_reviews {
	max-height: 385px;
	width: 10000px;
	font-size: 0px;
}

.carousel__block_reviews {
	display: inline-block;
	position: relative;
	width: 438px;
	height: 325px;
	background: #FFFFFF;
	margin-right: 30px;
	padding: 30px 60px;
}

.reviews__info {
	font-family: "PTSansRegular";
	margin-left: 120px;
	margin-bottom: 33px;
}

.reviews__photo {
	position: absolute;
	margin-top: -17px;
	margin-left: -32px;
}

.reviews__name {
	margin-bottom: 8px;
	line-height: 14px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.78);
	text-align: left;
}

.reviews__date {
	margin-bottom: 10px;
	line-height: 23px;
	font-size: 14px;
	color: #B5B5B5;
	text-align: left;
}

.reviews__link {
	display: inline-block;
	width: 124px;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	color: #174F9A;
	text-decoration: none;
	border-bottom: 1px solid rgba(23, 79, 154, 0.15);
}

.reviews__arrow  {
	display: inline-block;
	width: 21px;
	height: 17px;
	margin-left: 8px;
	font-family: "PTSansBold";
	line-height: 26px;
	font-size: 18px;
	color: #174F9A;
	text-decoration: none;
}

.reviews__text {
	width: 438px;
	height: 205px;
	font-family: "PTSansRegular";
	line-height: 24px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.54);
}

.pagination {
	width: 100%;
	height: 12px;
	text-align: center;
	margin-top: 50px;
	font-size: 0px;
}

.pagination__dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	margin-right: 20px;
	background: #FFFFFF;
}

.pagination__dot:last-child {
	margin-right: 0px;
}

.pagination__dot_active {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 20px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.54);
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.pagination__dot_active:last-child {
	margin-right: 0px;
}

.reviews__button {
	margin: 50px auto 0px;
}

/*  О компании */

.about-company {
	width: 1379px;
	height: 484px;
	overflow: hidden;
}

.about-company__slider {
	width: 482px;
	height: 483px;
	float: left;
	position: relative;
	margin-right: 60px;
}

.about-company__image {
	width: 482px;
	height: 483px;
	position: absolute;
}

.about-company__button_left {
	width: 58px;
	height: 484px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: linear-gradient(90deg, #080808 0%, rgba(8, 8, 8, 0) 100%);
	opacity: 0.6;
}

.about-company__button_right {
	width: 58px;
	height: 484px;
	position: absolute;
	left: 424px;
	top: 0px;
	background: linear-gradient(90deg, #080808 0%, rgba(8, 8, 8, 0) 100%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	opacity: 0.6;
}

.button__arrow_white_left {
	width: 10px;
	height: 16px;
	position: absolute;
	left: 23px;
	top: 235px;
	background: url("image/arrow_about.png");
}

.button__arrow_white_right {
	position: absolute;
	width: 10px;
	height: 16px;
	left: 25px;
	top: 235px;
	background: url("image/arrow_about.png");
}

.about-company__head {
	display: block;
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: "PTSerifBold";
	line-height: 29px;
	font-size: 40px;
}

.about-company__text {
	font-family: "NotoSansRegular";
	line-height: 24px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.54);
}

.about-company__button {
	margin-top: 50px;
	margin-left: 542px;
}

/* Insta */

.insta {
	width: 1441px;
	height: 241px;
	position: relative;
}

.insta__items {
	width: 1441px;
	height: 241px;
}

.insta__block {
	position: relative;
	float: left;
	width: 240px;
	height: 240px;
}

.insta__block1{
	background: url("image/inst1.png");
}

.insta__block2{
	background: url("image/inst2.png");
}

.insta__block3{
	background: url("image/inst3.png");
}

.insta__block4{
	background: url("image/inst4.png");
}

.insta__block5{
	background: url("image/inst5.png");
}

.insta__block6{
	background: url("image/inst6.png");
}

.insta__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #6B7584;
	opacity: 0.6;
}

.insta__head {
	width: 1440px;
	height: 29px;
	position: absolute;
	top: 64px;
	font-family: "PTSerifBold";
	line-height: 49px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
}

.insta__social {
	position: absolute;
	width: 280px;
	height: 55px;
	left: 582px;
	top: 123px;
	font-size: 0px;
}

.insta__social-block {
	display: inline-block;
	width: 55px;
	height: 55px;
	margin-right: 20px;
}

.insta__social-block:last-child {
	margin-right: 0px;
}

.insta__ellipse {
	width: 55px;
	height: 55px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border-radius: 26px;
}

.insta__vk {
	width: 30px;
	height: 16px;
	margin: 20px 14px 19px 11px;
	background: url("image/VK.png");
}

.insta__fb {
	width: 23px;
	height: 23px;
	margin: 16px 17px 16px 16px;
	background: url("image/FB.png");
}

.insta__ok {
	width: 13px;
	height: 23px;
	margin: 16px 21px;
	background: url("image/OK.png");
}

.insta__inst {
	width: 23px;
	height: 23px;
	margin: 16px;
	background: url("image/inst.png");
}

/* Адреса */

.addresses {
	float: left;
	width: 315px;
	height: 378px;
	margin-left: 40px;
	margin-top: 30px;
}

.addresses__list{
	width: 315px;
	height: 378px;
	overflow: scroll;
}

.nicescroll-rails div { 
	width: 4px !important;
	background: #E8E8E8 !important;
	border-radius: 20px !important;
}  

.addresses__item {
	position: relative;
	box-sizing: content-box;
	margin-bottom: 30px;
	font-family: "PTSansRegular";
}

.addresses__name {
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 2px;
}

.addresses__phone {
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 2px;
}

.addresses__address {
	padding-bottom: 3px;
	line-height: 24px;
	font-size: 16px;
	color: #174F9A;
	text-decoration: none;
	border-bottom: 1px solid rgba(23,79,154,0.15);
}

.map {
	float: left;
	width: 1079px;
	height: 460px;
	margin-left: 6px;
}

.footer {
	clear: both;
	width: 1440px;
	height: 1053px;
	margin: 0 auto;
}

.subscribe {
	width: 1440px;
	height: 398px;
	position: relative;
	background: url("image/subscribe.png");
	overflow: hidden;
}

.subscribe__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(107, 117, 132, 0.4);
}

.subscribe__head {
	margin-top: 144px;
	margin-bottom: 35px;
	font-family: "PTSerifBold";
	line-height: 29px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
}

.subscribe__form {
	width: 750px;
	height: 46px;
	margin: 0 auto;
}

.subscribe__user-field {
	width: 240px;
	height: 46px;
	position: relative;
	float: left;
	margin-right: 20px;
}

.subscribe__user-name {
	width: 240px;
	height: 46px;
	padding: 14px 16px 16px 25px;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 400px;
	border: none;
	font-family: "PTSansRegular";
	line-height: 37px;
	font-size: 16px;
}

.subscribe__email-field {
	width: 240px;
	height: 46px;
	position: relative;
	float: left;
	margin-right: 20px;
}

.subscribe__email {
	width: 240px;
	height: 46px;
	padding: 14px 16px 16px 25px;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 300px;
	border: none;
	font-family: "PTSansRegular";
	line-height: 37px;
	font-size: 16px;
}

.subscribe__user-name::-webkit-input-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__user-name::-moz-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__user-name:-ms-input-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__user-name::placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
} 

.subscribe__email::-webkit-input-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__email::-moz-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__email:-ms-input-placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__email::placeholder {
	line-height: 16px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
}

.subscribe__image-user {
	position: absolute;
	width: 11px;
	height: 14px;
	left: 213px;
	top: 16px;
	background: url("image/icon_user2.png");
}

.subscribe__image-mail {
	position: absolute;
	width: 22px;
	height: 14px;
	left: 202px;
	top: 16px;
	background: url("image/icon_mail.png");
}

.subscribe__submit {
	float: left;
	font-family: "PTSansRegular";
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

.subscribe__submit:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.subscribe__submit:hover {
	cursor: pointer;
}

.subscribe__submit:active {
	-moz-transform: translatey(1px);
	-ms-transform: translatey(1px);
	-webkit-transform: translatey(1px); 
	-o-transform:translatey(1px);
	transform: translatey(1px);
}

.viewed-items {
	width: 1440px;
	height: 292px;
	background: #F6F6F7;
	overflow: hidden;
}

.viewed-items__head {
	margin-top: 70px;
	margin-bottom: 30px;
	font-family: "PTSerifBold";
	line-height: 19px;
	font-size: 24px;
	text-align: center;
}

.viewed-items__button_left {
	margin-left: 20px;
	margin-top: 33px;
	float: left;
}

.viewed-items__button_right {
	margin-right: 20px;
	margin-top: 33px;
	float: right;
}

.carousel_viewed-items {
	width: 1440px;
	height: 83px;
}

.carousel__wrapper_viewed-items {
	width: 1332px;
	height: 83px;
	margin: 0 auto;
	overflow: hidden;
}

.carousel__items_viewed-items {
	max-height: 83px;
	width: 10000px;
	font-size: 0px;
}

.carousel__block_viewed-items{
	display: inline-block;
	width: 256px;
	height: 83px;
	margin-right: 13px;
	background: #F0F0F0;
}

.viewed-items__block {
	width: 256px;
	height: 83px;
	display: table;
	position: relative;
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	text-decoration: none;
}

.viewed-items__image {
	width: 57px;
	height: 77px;
	position: absolute;
	top: 3px;
	left: 3px;
}

.viewed-items__title {
	margin-left: 75px;
	margin-top: 8px;
	box-sizing: content-box;
	font-family: "PTSansRegular";
	font-size: 16px;
	color: #1E1E1E;
}

.viewed-items__price {
	margin-left: 75px;
	margin-top: 3px;
	font-family: "PTSansBold";
	line-height: 24px;
	font-size: 16px;
	color: #1E1E1E;
}

.information {
	width: 1440px;
	height: 363px;
	background: #FFFFFF;
	font-size: 0px;
}

.help {
	width: 264px;
	display: inline-block;
	margin-left: 147px;
	margin-top: 60px;
}

.help__head {
	margin-bottom: 8px;
	font-family: "PTSerifBold";
	line-height: 21px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.36);
}

.help__list {
	list-style: none;
}

.help__item {
	font-family: "PTSansRegular";
	line-height: 37px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
	text-decoration: none;
}

.sections {
	width: 264px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 60px;
}

.sections__head {
	margin-bottom: 8px;
	font-family: "PTSerifBold";
	line-height: 21px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.36);
}

.sections__list {
	list-style: none;
}

.sections__item {
	font-family: "PTSansRegular";
	line-height: 37px;
	font-size: 16px;
	color: rgba(30, 30, 30, 0.87);
	text-decoration: none;
}

.payment {
	width: 264px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 60px;
}

.payment__head {
	margin-bottom: 8px;
	font-family: "PTSerifBold";
	line-height: 21px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.36);
}

.visa {
	width: 53px;
	height: 20px;
	background: url("image/VISA.png");
}

.payment__visa {
	display: inline-block;
	margin-top: 8px;
	margin-right: 13px;
}

.mastercard {
	width: 40px;
	height: 24px;
	background: url("image/MasterCard.png");
}

.payment__mastercard {
	display: inline-block;
	margin-top: 8px;
	margin-right: 16px;
}

.qiwi {
	width: 49.15px;
	height: 24px;
	background: url("image/Qiwi.png");
}

.payment__qiwi {
	display: inline-block;
	margin-top: 8px;
	margin-right: 20px;
}

.vtb24 {
	width: 79.33px;
	height: 14px;
	background: url("image/vtb24.png");
}

.payment__vtb24 {
	display: inline-block;
	margin-top: 18px;
	margin-right: 17px;
	vertical-align: middle;
}

.webmoney {
	width: 24px;
	height: 24px;
	background: url("image/WebMoney.png");
}

.payment__webmoney {
	display: inline-block;
	margin-top: 18px;
	margin-right: 16px;
	vertical-align: middle;
}

.sberbank {
	width: 25px;
	height: 26px;
	background: url("image/sberbank.png");
}

.payment__sberbank {
	display: inline-block;
	margin-top: 18px;
	vertical-align: middle;
}

.social {
	width: 264px;
	height: 56px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 60px;
}

.social__head {
	margin-bottom: 15px;
	font-family: "PTSerifBold";
	line-height: 21px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.36);
}

.social__vk {
	width: 23.41px;
	height: 13.33px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
	background: url("image/VK2.png");
}

.social__ok {
	width: 10.6px;
	height: 18px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
	background: url("image/OK2.png");
}

.social__fb {
	width: 15.89px;
	height: 16px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
	background: url("image/FB2.png");
}

.social__tw {
	width: 17.88px;
	height: 14.67px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
	background: url("image/Twitter.png");
}

.social__inst {
	width: 19.87px;
	height: 20px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
	background: url("image/Inst_2.png");
}

.information__phone {
	width: 154px;
	height: 51px;
	float: right;
	margin-right: 258px;
	margin-top: -130px;
}

.information__phone-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("image/phone2.png");
}

.information__phone-number {
	display: inline-block;
	position: relative;
	top: -3px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-family: "PTSansRegular";
	line-height: 13px;
	font-size: 16px;
	color: #3B3B3B;
}

.information__phone-call {
	margin-left: 26px;
	padding-bottom: 3px;
	font-family: "NotoSansRegular";
	line-height: 24px;
	font-size: 14px;
	color: #174F9A;
	text-decoration: none;
	border-bottom: 1px solid rgba(23, 79, 154, 0.15);
}

.INN {
	height: 14px;
	box-sizing: content-box;
	float: left;
	margin-left: 147px;
	margin-top: 40px;
	font-family: "PTSansRegular";
	font-size: 14px;
	color: rgba(30, 30, 30, 0.6);
}

.OGRN {
	
	height: 14px;
	box-sizing: content-box;
	float: left;
	margin-left: 35px;
	margin-top: 40px;
	font-size: 14px;
	color: rgba(30, 30, 30, 0.6);
}

.information__address {
	width: 206px;
	height: 14px;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	font-size: 14px;
	color: rgba(30, 30, 30, 0.6);
}

@media screen and (max-width: 1024px) {

.header {
	width: 1024px;
	padding: 0px;
}

.address {
	margin-left: 36px;
}

.header__phone {
	margin-right: 68px;
}

.search {
	margin-right: 39px;
}

.header__logo {
	margin: 46px 143px 0px 35px;
}

.header__menu {
	margin-right: 158px;
}

.menu__item {
	margin-right: 30px;
}

.cart {
	margin-right: 35px;
}

.container {
	width: 1024px;
}

/* Главный экран */

.main-screen__head {
	position: relative;
	z-index: 100;
}

.main-screen__image1 {
	width: 282.1px;
	height: 320.75px;
	background: url(image/jacket_1024.png) no-repeat;
}

.main-screen__image2 {
	width: 220.11px;
	height: 188.72px;
	right: 0px;
	background: url(image/bag.png) no-repeat;
}

.main-screen__image3 {
	width: 261.2px;
	height: 191.33px;
	left: -59px;
	top: 451px;
	background: url(image/hat_1024.png) 40px no-repeat;
}

.main-screen__image4 {
	width: 282.42px;
	height: 418.29px;
	left: 756px;
	top: 343.46px;
	background: url(image/jacket2_1024.png) no-repeat;
}

/* Преимущества */

.features {
	width: 1024px;
	padding: 41px 35px 40px 35px;
}

.features__block {
	margin-right: 26px;
}

/* Популярные категории */

.popular {
	width: 954px;
	height: 884px;
	margin: 140px 0px 0px;
	padding: 0px 35px;
}

.popular__block_bags {
	width: 463px;
	height: 391px;
	margin-right: 29px;
}

.popular__overlay {
	display: none;
}

.button_white_small {
	width: 177px;
	height: 62px;
}

.popular__block_dresses{
	width: 462px;
	height: 599px;
}

.popular__block_outewear {
	width: 217px;
	height: 388px;
	margin-right: 29px;
}

.popular__block_trousers {
	width: 217px;
	height: 389px;
	margin-right: 29px;
}

.popular__block_footwear {
	width: 462px;
	height: 180px;
}

.popular__image_footwear{
	width: 462px;
	height: 180px;
}

/* Бренд */

.brand {
	width: 954px;
	margin: 141px 35px 0px 35px;
}

.carousel__wrapper {
	width: 874px;
	margin-left: 40px;
}

.carousel__block {
	width: 222px;
}

.brand__image {
	margin-left: 49px;
}

/* Новинки */

.new-arrival {
	width: 953px;
	height: 1094px;
}

.product__items {
	margin: 0px;
}

.product__block {
	width: 214px;
	height: 415px;
	margin-right: 30px;
	margin-bottom: 60px;
}

.product__image-block {
	width: 213px;
	height: 321px;
}

.product__name {
	width: 125px;
}

.saving {
	margin-top: 8px;
}

.new-arrival__button {
	margin: 20px auto 0px;
}

.preview {
	width: 217px;
	height: 626px;
}

.preview__block {
	width: 214px;
	height: 415px;
}

.product__image_preview {
	width: 173.05px;
	height: 285.64px;
	margin: 18px 21.97px 0;
}

.preview__button-like {
	left: 145px;
}

.preview__button-compare {
	left: 190px;
}

.preview__size-block {
	margin-top: 10px;
}	

.quantity {
	width: 102px;
}

.preview__quantity {
	margin: 30px 0px 15px;
}

.button_black_small {
	width: 100.21px;
	margin-left: 14px;
}

/* Banner */

.banner {
	width: 954px;
}

.carousel_banner {
	width: 954px;
	overflow: hidden;
}

.carousel__image_banner {
	left: -95px;
}

/*Скидки*/

.discounts {
	width: 953px;
	height: 1094px;
}

.discounts__button {
	margin: 20px auto 0px;
}

/* Дзен */

.dzen {
	height: 395px;
}

/* Отзывы */

.reviews {
	width: 1024px;
	height: 743px;
}

.reviews__head {
	margin: 100px 0px 50px;
}

.reviews__button_left {
	margin: 145px 42px 0px 35px;
}

.reviews__button_right {
	margin: 145px 35px 0px 42px;
}

.carousel__wrapper_reviews {
	width: 790px;
	height: 316px;
}

.carousel__items_reviews {
	max-height: 316px;
}

.carousel__block_reviews {
	width: 790px;
	height: 316px;
}

.reviews__text {
	width: 670px;
	height: 136px;
}

.pagination {
	margin-top: 40px;
}

/*  О компании */

.about-company {
	width: 989px;
	height: 509px;
	margin-right: 35px;
}

.about-company__slider {
	width: 333px;
	height: 508px;
	margin-right: 50px;
	overflow: hidden;
}

.about-company__image {
	width: auto;
	height: 100%;
	left: -65px;
}

.about-company__button_left {
	height: 508px;
}

.about-company__button_right {
	height: 508px;
	left: 275px;
}

.about-company__head {
	margin-top: 60px;
}

.about-company__button {
	margin-top: 38px;
	margin-left: 383px;
}

/* Insta */

.insta {
	width: 1024px;
	height: 206px;
	overflow: hidden;
}

.insta__items {
	width: 1024px;
	height: 206px;
}

.insta__block {
	width: 204.8px;
	height: 205.15px;
}

.insta__head {
	width: 1024px;
	top: 46px;
}

.insta__social {
	left: 0px;
	right: 0px;
	margin: 0 auto;
	top: 105px;
}

/* Адреса */

.addresses {
	width: 268px;
	height: 450px;
}

.addresses__list{
	width: 268px;
	height: 450px;
}

.map {
	width: 707px;
	height: 510px;
	overflow: hidden;
}

.map__image {
	width: auto;
	height: 100%;
	margin-left: -300px;
}

.footer {
	width: 1024px;
	height: 1032px;
}

.subscribe {
	width: 1024px;
}

.viewed-items {
	width: 1024px;
	height: 272px;
}

.viewed-items__button_left {
	margin-left: 35px;
}

.viewed-items__button_right {
	margin-right: 35px;
}

.carousel_viewed-items {
	width: 1024px;
}

.carousel__wrapper_viewed-items {
	width: 850px;
}

.carousel__block_viewed-items{
	margin-right: 41px;
}

.information {
	width: 1024px;
	height: 362px;
}

.help {
	width: 164px;
	margin-left: 35px;
}

.sections {
	width: 216px;
	margin-left: 82px;
}

.payment {
	width: 175px;
	margin-left: 31px;
}

.payment__qiwi {
	margin-right: 0px;
}

.social {
	width: 172px;
	margin-left: 70px;
}

.social__vk {
	margin-right: 20px;
}

.social__ok {
	margin-right: 20px;
}

.social__fb {
	margin-right: 20px;
}

.social__tw {
	margin-right: 20px;
}

.social__inst {
	margin-right: 0px;
}

.information__phone {
	width: 163px;
	margin-right: 87px;
	margin-top: -120px;
}

.INN {
	margin-left: 35px;
}

.OGRN {
	margin-left: 30px;
}

.information__address {
	margin-left: 30px;
}
}